/*basic reset*/
* {
  margin: 0;
  padding: 0; }

/*make the body occupy full height*/
html, body {
  height: 100%;
  font-family: 'Playball', cursive; }

#hex {
  color: white;
  font-size: 65px;
  font-weight: bold;
  /*Vertical center*/
  position: relative;
  top: 50%;
  margin-top: -32px;
  /*center text*/
  text-align: center; }
