/*take out all colors of the page so it is pure color, none else*/
* {margin: 0; padding: 0;}

/*make the body of the file occupy full height in color*/
html, body {
  height: 100%;
  font-family: 'Playball', cursive;
}

#hex {
	color: white;
  font-size:65px;
  font-weight: bold;
	/*Vertical center*/
	position: relative;
  top: 50%;
  margin-top: -32px;
  // -webkit-transition:background 2s; tried to make it transition into the colors slowly

	/*center the text*/
	text-align: center;

}
